.control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  
  .control input {
    display: block;
  }
  
  /* .control label {
    font-weight: bold;
    flex: 1;
    color: #383838;
    margin-bottom: 0.5rem;
  }
   */
  .control input {
    flex:none;
    font: inherit;
    /* padding: 0.35rem 0.35rem; */
    border-radius: 6px;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
  }
  
  .control input:focus {
    outline: none;
    border-color: rgb(180, 133, 72);
  }
  
  .control.invalid input {
    border-color: #f34500;
    background: #e9e9e9;
  }

  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  }